.cameraBox{
  background-color: rgb(80, 81, 82); 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid;
  margin: 1vw;
  width: 96vw;
}

.smallImage{
    width: 480px;
    max-width: 96vw; 
}
.largeImage{
    width: 100vw;
}
.headLine{
    width: 100%;
    color: aliceblue;
}
.timestamp{
    bottom: 0px;
    font-size: xx-small;
    color: aliceblue;
}